.u-section-1 {
  min-height: 785px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1300px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 804px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 651px;
  height: 651px;
  margin: 50px -31px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 804px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 142px 52px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  min-height: 16px;
  width: 279px;
  min-width: 196px;
  margin: 222px auto 0 156px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-3 {
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 36px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 721px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 3px;
  }

  .u-section-1 .u-image-1 {
    height: 581px;
    width: 581px;
    margin-top: 26px;
    margin-right: 0;
    margin-left: -95px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 721px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 94px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 54px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 278px;
    margin-top: 242px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: -132px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 3px;
    font-size: 1rem;
    width: auto;
    margin-top: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 37px;
    width: 258px;
    margin-top: 160px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 26px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1068px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 416px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 153px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 995px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 23px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 438px;
    margin-top: -27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 46px;
    margin-left: 23px;
    margin-right: 23px;
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 54px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 33px;
    width: 247px;
    margin-top: 85px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }
}.u-section-2 {
  min-height: 785px;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1300px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 804px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 565px;
  height: 565px;
  margin: 78px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 804px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 651px;
  height: 651px;
  margin: 46px -31px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 687px;
  }

  .u-section-2 .u-image-2 {
    height: 410px;
    margin-top: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 426px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 75px;
    margin-left: -30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-2 .u-image-2 {
    height: 300px;
    margin-top: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1141px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 480px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 480px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 810px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-2 .u-image-2 {
    height: 326px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}